.floating-action-button {
   padding: 16%;
   background-color: red;
   color: white;
   border-radius: 50%;
   font-size: 44px;
   -webkit-box-shadow: 0px -7px 44px 0px rgba(0, 0, 0, 0.75);
   -moz-box-shadow: 0px -7px 44px 0px rgba(0, 0, 0, 0.75);
   box-shadow: 0px -7px 44px 0px rgba(0, 0, 0, 0.75);
   cursor: pointer;
}
